<div id="modal_story" class="modal hide fade in modal-dialog" aria-hidden="true" style = "display: none; ">
  <div class="modal-header modal-dialog-title modal-dialog-title-draggable">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Add Story</h3>
  </div>

  <div class="modal-body modal-dialog-content">
    <div id="add-story-dialog">
    <%= form_for @story, :url => user_project_stories_path(@user, @project), :method => :post, :html => { :class => 'form-horizontal'} do |f| %>
        <div class="control-group">
          <%= f.label :story_name, "Title", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :story_name, :class => 'text_field' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :story_description, "Description", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area(:story_description, :size => '30x10') %>
          </div>
        </div>

          <div class="modal-footer modal-dialog-buttons">

            <%= f.submit 'Save', :class => "btn" %>
            <%= link_to 'Cancel', '#', "data-dismiss" => "modal", :class => "btn" %>

          </div>

    <% end %>
    </div>
  </div>

</div>


<script type="text/javascript">
    $(document).ready(function() {
        var story_story_name = new LiveValidation('story_story_name');
        story_story_name.add( Validate.Presence );

        var story_story_description = new LiveValidation('story_story_description');
        story_story_description.add( Validate.Presence );
    });
</script>