<%#= form_for @project, :url => user_projects_path, :html => { :class => 'form-horizontal' } do |f| %>
  <!--<div class="control-group">-->
    <%#= f.label :project_name, :class => 'control-label' %>
    <!--<div class="controls">-->
      <%#= f.text_field :project_name, :class => 'text_field' %>
    <!--</div>-->
  <!--</div>-->
  <!--<div class="control-group">-->
    <!--<%#= f.label :project_status, :class => 'control-label' %>-->
    <!--<div class="controls">-->
      <%#= f.text_field :project_status, :class => 'text_field' %>
    <!--</div>-->
  <!--</div>-->
  <!--<div class="control-group">-->
    <!--<%#= f.label :project_duration_in_days, :class => 'control-label' %>-->
    <!--<div class="controls">-->
      <%#= f.number_field :project_duration_in_days, :class => 'number_field' %>
    <!--</div>-->
  <!--</div>-->
  <!--<div class="control-group">-->
    <!--<%#= f.label :no_of_members, :class => 'control-label' %>-->
    <!--<div class="controls">-->
      <%#= f.number_field :no_of_members, :class => 'number_field' %>
    <!--</div>-->
  <!--</div>-->

  <!--<div class="form-actions">-->
    <!--<%#= f.submit nil, :class => 'btn btn-primary' %>-->
  <!--</div>-->
<%# end %>


<div style="-webkit-border-radius: 4px; -moz-border-radius: 4px" id="page">

  <div id="breadcrumb-bar">

    <div style="margin: 3px 10px">

      <b>User Dashboard</b>
      <img width="8" height="9" style="opacity: .3; position: relative; top: 1px; margin: 0px 4px" src="https://d1zvd2d754ag59.cloudfront.net/img/icon_triangle.gif">
      <b>User : <%= @user.username.capitalize %></b>
      <img width="8" height="9" style="opacity: .3; position: relative; top: 1px; margin: 0px 4px" src="https://d1zvd2d754ag59.cloudfront.net/img/icon_triangle.gif">
      <b>Create Project</b>

    </div>
  </div>

  <div id="content">

    <h2>Create Project</h2>

    <%= form_for @project, :url => user_projects_path, :html => { :class => 'form-horizontal' } do |f| %>
        <table class="form">
          <tbody><tr>
            <td><%= f.label :project_name, :class => 'control-label' %></td>
            <td><%= f.text_field :project_name, :class => 'text_field' %></td>
          </tr>

          <tr>
            <td><%= f.label :start_date, :class => 'control-label' %></td>
            <td><%= f.text_field :start_date, :class => 'text_field', :id => "date-field" %></td>
          </tr>


          <tr>
            <td></td>
            <td><button type="submit">Create Project</button></td>
          </tr>
          </tbody></table>
    <% end %>

  </div>
</div>


<script type="text/javascript">
    $(document).ready(function() {
        var project_project_name = new LiveValidation('project_project_name');
        project_project_name.add( Validate.Presence );

        var datefield = new LiveValidation('date-field');
        datefield.add( Validate.Presence );
    });
</script>
