<h1>Sign in</h1>

<%= form_for @user_session, :url => user_sessions_path do |f| %>

    <%= render "shared/error_messages", :object => @user_session %>

    <%= f.label :username %>
    <%= f.text_field :username %><br />

    <%= f.label :password %>
    <%= f.password_field :password %><br />

    <%= f.submit "SIGN IN" %>

<% end %>


<script type="text/javascript">
    $(document).ready(function() {
        var user_session_username = new LiveValidation('user_session_username');
        user_session_username.add( Validate.Presence );

        var user_session_password = new LiveValidation('user_session_password');
        user_session_password.add( Validate.Presence );
        user_session_password.add( Validate.Length, { minimum: 4 } );
    });
</script>
